[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = git@github.com:Squantor/squantorLibC.git
[submodule "software/squantorLibEmbedded"]
	path = software/squantorLibEmbedded
	url = git@github.com:Squantor/squantorLibEmbedded.git
[submodule "software/squantorMinUnit"]
	path = software/squantorMinUnit
	url = git@github.com:Squantor/squantorMinUnit.git
[submodule "software/libMcuLL"]
	path = software/libMcuLL
	url = git@github.com:Squantor/libMcuLL.git
[submodule "electronics/various_PCB"]
	path = electronics/various_PCB
	url = git@github.com:Squantor/various_PCB.git
