# V20260327
# K&R style C clang-format file

# BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never

BreakBeforeBraces: Linux
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  BeforeElse: false
  IndentBraces: false
  AfterCaseLabel: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
IndentCaseLabels: false
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
AlignTrailingComments: true
ReflowComments: true

SpacesBeforeTrailingComments: 2
AlignEscapedNewlines: Left
AlignArrayOfStructures: None
