# A .clang-format file to adhere to the K&R style
# - CLANG-FORMAT STYLE OPTIONS: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# 
# Author: Munseong Jeong <ryan.m.jeong@hotmail.com>

# BasedOnStyle: LLVM
IndentWidth: 3
UseTab: Never

BreakBeforeBraces: Linux
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  BeforeElse: false
  IndentBraces: false
  AfterCaseLabel: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
IndentCaseLabels: false
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
AlignTrailingComments: true
ReflowComments: true

SpacesBeforeTrailingComments: 2
AlignEscapedNewlines: Left
AlignArrayOfStructures: None
